<!-- ########################## /DEMO PURPOSES ONLY ########################## -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aardwolf Social | Homepage Demo</title>
  <link rel="stylesheet" href="../../web/css/fork-awesome-1.1.7/css/fork-awesome.min.css">
  <link rel="stylesheet" href="../../web/css/bulma-0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="../../web/css/base.css">
  <link rel="stylesheet" href="../../web/css/scratchpad.css">
  <!-- Component styles -->
  <link rel="stylesheet" href="../../web/css/components/notificationBox.css">
</head>
<!-- ########################## /DEMO PURPOSES ONLY ########################## -->

<!-- Begin Profile Section -->
<section class="section">
    <div class="container">

        <title>{{ profile_title }}</title>
        
		             
        <!-- Profile Header -->
		<div class="profile_header_image">
			<figure class="image is-128x128">
			  <img src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		</div>
		
		<!-- Profile Avatar -->
		<div class="profile_avatar_image">
			<figure class="image is-64x64">
			  <img src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		</div>	
		
        <!-- Profile display name -->
		<div class="profile_display_name">
			<h1><span>Voted Best Awoo</span><br />
			<small>@team@aardwolf.social <i aria-hidden="true" class="fa fa-lock"></i></small>
			</h1>
		</div>

        <!-- Profile bio -->
		<div class="profile_bio_content">
			<p>
			Hello? Is this the emergency services? That's the American one, you berk! Does that mean they're going to get them out? I've had a bit of a tumble. <br />
			We're all just drudgeons to them! Looking forward to hearing from you. Yeah, you need to turn it on... Dear Sir stroke Madam. 	Why would I do it after? <br />
			Nicer ambulances, faster response times and better looking drivers mean they're not just the Emergency Services, they're your Emergency Services. <br />
			No, not on clothes. Hello? Of course, before! Aren't all musicals gay? Before you brought it to their table? No, after!
			</p>
		</div>
                
    </div>
</section>
<!-- End Profile Section -->

