<div class="field is-horizontal">
    <div class="field-label">
        <label class="label">Groups</label>
    </div>
    <div class="field-body">
        <div class="field is-narrow">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="search_groups">
                    Public
                    <br />
                    <span class="help">Everyone can see</span>
                </label>
                <label class="radio" checked>
                    <input type="radio" name="search_groups">
                    Local-Only
                    <br />
                    <span class="help">Visible to local users</span>
                </label>
                <label class="checkbox">
                    <input type="radio" name="search_groups">
                    Private
                    <br />
                    <span class="help">Not searchable anywhere</span>
                </label>
            </div>
        </div>
    </div>
</div>
