<script src="../web/javascript/vue.2.5.20.min.js"></script>
<script src="../web/javascript/components/notificationBox.js"></script>
<script>
  new Vue({
    el: "#app",
    data: {
      showNotificationBox: false
    },
    methods: {
      toggleNotifCompView: function() {
        console.log('calling tNCV');
        this.showNotificationBox = !this.showNotificationBox;
      }
    }
  })
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aardwolf Social | Homepage Demo</title>
    <!-- Images, and other static assets -->
    <link data-trunk rel="copy-dir" href="./assets" />

    <!-- Primary CSS/SCSS: Should these be combined?  Do a proper SCSS _base n all that? -->
    <link rel="stylesheet" href="./static/base.css" />
    <link rel="stylesheet" href="./static/scratchpad.css" /><!-- This is for testing btw ;) -->
    <link rel="stylesheet" href="./static/notification_dropdown.css" />
    <link rel="stylesheet" href="./static/notificationBox.css" />

    <!-- External Styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">" />
</head>